<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">
<listeners>
    <listener class-name="Test_ant.CustomListener" />
</listeners>
<test name="Login">
    <classes>
        <class name="Test_ant.LoginTest" ></class>  
            </classes>
</test>
</suite>


